/* Medium Layout: 1367px. */

@media only screen and (min-width: 1200px) and (max-width: 1367px) {

}


/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .tpImg{
        height: 215px !important;
    }
    .tp-hover-content p {
        font-size: 15px;
        line-height: 19px;
    }
    .tp-hover-content span {
        font-size: 15px;
    }
    .lang-selector img {
        width: 25px;
    }
    .ssp-img img {
        height: 215px;
    }
    
}


/* Tablet Layout: 768px. */

@media only screen and (max-width: 991px) {
    .navbar-dark .navbar-toggler i {
        color: #ee285b !important;
        border: 1px solid #ee285b !important;
        padding: 8px 10px !important;
    }
    .lang-selector img {
        display: none;
    }
    .navbar-dark .navbar-toggler:focus {
        outline: 0;
    }
    .hl-text h2 {
        font-size: 52px;
    }
}


/* Mobile Layout: 320px. */

@media only screen and (min-width: 768px)  and (max-width: 800px) {
.ssp-img img {
    height: 160px !important;
    overflow: hidden;
}
.footer-course {
    padding: 0 0px;
    margin: 20px 0;
}
}
/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 521px) and (max-width: 767px) {
    .ssp-img img {
        height: 215px !important;
    }
    .productView-photo img {
        height: 383px;
        width: auto;
        max-width: 100% !important;
        margin-bottom: 38px;
    }
    .pr-sm-12{
        padding-right: 15px;
    }
    .pl-sm-0{
        padding-left: 0px;
    }
    
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 340px) and (max-width: 520px) {
    .hero-left {
        padding: 80px 0 60px;
    }
    .pr-sm-12{
        padding-right: 15px;
    }
    .pl-sm-0{
        padding-left: 0px;
    }
    .hl-text span {
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 20px;
        margin-bottom: 18px;
    }
    .hl-text h2 {
        font-size: 40px;
        display: inline-block;
        line-height: 38px;
    }
    .hl-text p {
        font-size: 16px;
        line-height: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .btn1 {
        font-size: 16px !important;
        line-height: 28px;
        padding: 7px 17px;
    }
    .section-padding {
        padding-top: 45px;
        padding-bottom: 35px;
    }
    .section-header {
        width: 100%;
        margin: 0 auto;
    }
    .section-header h2 {
        font-size: 31px;
        line-height: 28px;
    }
    .section-header p {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .section-header img {
        left: 20px;
        top: -24px;
        height: 71px;
    }
    .footer-course {
        padding: 0 0px;
        margin: 26px 0;
    }
    .productView-photo img {
        height: 383px;
        width: auto;
        max-width: 100% !important;
        margin-bottom: 38px;
    }
    .lang-selector img {
        display: block !important;
        float: right;
    }
}
